*{
    margin: 5px;
}
body{
    background-image: url(../img/pattern.jpg);
}
.main{
    width: 600px;
    border: 2px solid #0795aa;
    background-color: azure;
}
h1{
    background-color: #d6eef6;
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input, select{
    border: 2px solid #0795aa;
    border-radius: 5px;
    background-color: inherit
    ;
}
select{
    width: 100px;
}
.fuelAll, .volumeAll, .powerAll, .stateAll, .ownersAll, .ageAll, .paymentAll{
    display: flex;
    padding-left: 90px;
    justify-content: space-between;
    padding-right: 90px;
}
.brand, .model, .button{
    padding-left: 90px;
}
#btn{
    background-color: #d6eef6;
}

/*.fuellAll__radio{
    padding-left: 80px;
}
.paymentAll__radio{
    padding-left: 54px;
}
.ageAll__radio{
    padding-left: 22px;
}
.stateAll__radio, .volumeAll__text{
    padding-left: 5px;
}
.powerAll__text{
    padding-left: 58px;
}*/

