*{
    margin: 5px;
}
body{
    background-image: url(../img/pattern.jpg);
}
.main{
    width: 600px;
    border: 2px solid #0795aa;
    background-color: azure;
}
h1{
    background-color: #d6eef6;
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input, select{
    border: 2px solid #0795aa;
    border-radius: 5px;
    background-color: inherit
    ;
}
select{
    width: 100px;
}
.fuelAll, .volumeAll, .powerAll, .stateAll, .ownersAll, .ageAll, .paymentAll{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .5em;
    padding-left: 90px;
    padding-right: 90px;
}
.brand, .model, .button{
    padding-left: 90px;
}
#btn{
    background-color: #d6eef6;
}
.ownersAll, .ageAll{
    display: none;
}
#text-price{
    font-size: 18px;
    text-align: center;
}